{% extends "VMSVitrineBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block vms_vitrinebody %}

    {% block sliderphoto %}
    <div class="slider-area">
        <div class="zigzag-bottom"></div>
        <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">
            <div class="slide-bulletz">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="carousel-indicators slide-indicators">
                                <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                                <li data-target="#slide-list" data-slide-to="1"></li>
                                <li data-target="#slide-list" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="single-slide">
                        <div class="slide-bg" style=" background-image: url( {{ asset('img/slide-1.jpg') }} )"> </div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h2>Armurier depuis plus de 40 ans</h2>
                                                <p>Notre expérience nous permet de vous conseiller et vous guider dans vos choix.</p>
                                                <a href="" class="readmore">En savoir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide">
                        <div class="slide-bg" style=" background-image: url( {{ asset('img/slide-2.jpg') }} )"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h2>Armurier depuis plus de 40 ans</h2>
                                                <p>Notre expérience nous permet de vous conseiller et vous guider dans vos choix.</p>
                                                <a href="" class="readmore">En savoir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide">
                        <div class="slide-bg" style=" background-image: url( {{ asset('img/slide-3.jpg') }} )"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h2>Armurier depuis plus de 40 ans</h2>
                                                <p>Notre expérience nous permet de vous conseiller et vous guider dans vos choix.</p>
                                                <a href="{{ asset('img/slide-3.jpg') }}" class="readmore">En savoir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block promoServices %}
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-refresh"></i>
                        <p>30 jours retour</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-truck"></i>
                        <p>Livraison gratuite</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-lock"></i>
                        <p>Paiement sécurisé</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-gift"></i>
                        <p>Nouveau profuits</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block derniersproduits %}
    <div class="maincontent-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="latest-product">
                            <h2 class="section-title">Derniers Produits</h2>
                            <div class="product-carousel">

                                {% for produit in listProduit %}
                                <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{{ asset('img/produits/' ~ produit.imagePath ) }}" alt="" style="height: 160px">
                                    <div class="product-hover">
                                        <a  style="font-size: 1em;" href="{{ path('vms_cart_add', {'id': produit.id }) }}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Ajouter panier</a>
                                        <a href="{{ path('vms_vitrine_vue', {'id': produit.id }) }}" class="view-details-link"><i class="fa fa-link"></i> Détails</a>
                                    </div>
                                </div>
                                <h2><a href="{{ path('vms_vitrine_vue', {'id': produit.id }) }}">{{ produit.libelle }}</a></h2>
                                <div class="product-carousel-price">
                                    <ins>{{ produit.getPrix() }}€</ins>
                                </div>
                            </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    {% endblock %}

    {% block marques %}
    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <h2 class="section-title">Marques</h2>
                        <div class="brand-list">
                            {% for marque in listMarques %}
                            <img src="{{ asset('img/marques/' ~ marque.getImagePath) }}" alt="{{ marque.getImageAlt() }}" style="height: 160px">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block ventesProduits %}
    <div class="product-widget-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% block mieuxVendu %}
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Mieux vendus</h2>
                        <a href="#" class="wid-view-more">Tout Voir</a>
                        <div class="single-wid-product">
                            <a href="#"><img src="img/product-thumb-1.jpg" alt="" class="product-thumb"></a>
                            <h2><a href="#">A implementer</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <!-- prix -->
                                <ins>0.00€</ins>
                            </div>
                        </div>
                        <div class="single-wid-product">
                            <a href="#"><img src="img/product-thumb-1.jpg" alt="" class="product-thumb"></a>
                            <h2><a href="#">A implementer</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <!-- prix -->
                                <ins>0.00€</ins>
                            </div>
                        </div>
                        <div class="single-wid-product">
                            <a href="#"><img src="img/product-thumb-1.jpg" alt="" class="product-thumb"></a>
                            <h2><a href="#">A implementer</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <!-- prix -->
                                <ins>0.00€</ins>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}

                {% block recemmentVue %}
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Récemment vue</h2>
                        <a href="#" class="wid-view-more">Tout Voir</a>
                        <div class="single-wid-product">
                            <a href="#"><img src="img/product-thumb-4.jpg" alt="" class="product-thumb"></a>
                            <h2><a href="#">A implementer</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <!-- prix -->
                                <ins>0.00€</ins>
                            </div>
                        </div>
                        <div class="single-wid-product">
                            <a href="#"><img src="img/product-thumb-4.jpg" alt="" class="product-thumb"></a>
                            <h2><a href="#">A implementer</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <!-- prix -->
                                <ins>0.00€</ins>
                            </div>
                        </div>
                        <div class="single-wid-product">
                            <a href="#"><img src="img/product-thumb-4.jpg" alt="" class="product-thumb"></a>
                            <h2><a href="#">A implementer</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <!-- prix -->
                                <ins>0.00€</ins>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}

                {% block nouveautes %}
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Nouveautés</h2>
                        <a href="#" class="wid-view-more">Tout Voir</a>
                        {% for produit in listProduit3 %}
                        <div class="single-wid-product">
                            <a href="{{ path('vms_vitrine_vue', {'id': produit.getId()}) }}"><img src="{{ asset('img/produits/' ~ produit.getImagePath()) }}" alt="" class="product-thumb"></a>
                            <h2><a href="{{ path('vms_vitrine_vue', {'id': produit.id}) }}">{{ produit.libelle }}</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>{{ produit.prix }}€</ins>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                    {% endblock %}
            </div>
        </div>
    </div>

    {% endblock %}

{% endblock %}