{% extends "VMSVitrineBundle::layout.html.twig" %}

{% block title %}
{{ produit.libelle }} - {{ parent() }}
{% endblock %}

{% block vms_vitrinebody %}
    <div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">

            {% block sidebargauche %}
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Rechercher un produit</h2>
                    <form method="get" action="{{ path('vms_vitrine_search') }}" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" name="text" class="form-control" placeholder="Rechercher...">
                        </div>
                        <button type="submit" class="btn btn-default">Go!</button>
                    </form><br>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Dernier produits</h2>
                    {% for produit in listProduitAll %}
                    <div class="thubmnail-recent">
                        <a href="{{ path('vms_vitrine_vue', {'id' : produit.id}) }}"><img src="{{ asset('img/produits/' ~ produit.imagePath) }}" class="recent-thumb" alt=""></a>
                        <h2><a href="{{ path('vms_vitrine_vue', {'id' : produit.id }) }}">{{ produit.libelle }}</a></h2>
                        <div class="product-sidebar-price">
                            <ins>{{ produit.prix }}€</ins>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endblock %}



            <div class="col-md-8">
                <div class="product-content-right">

                    {% block imagePlusDroite %}

                    <div class="product-breadcroumb">
                        <a href="{{ path('vms_accueil') }}">Accueil</a>
                        <a href="">{{ produit.categorie.libelle }}</a>
                        <a href="">{{ produit.libelle }}</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="{{ asset('img/produits/' ~ produit.imagePath) }}" alt="Image_Enormus">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">{{ produit.libelle }}</h2>
                                <div class="product-inner-price">
                                    <ins>{{ produit.prix }}€</ins>
                                </div>

                                <form action="{{ path('vms_cart_add', {'id': produit.id}) }}" class="cart" method="get">
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" max="{{ produit.stock }}" step="1">
                                    </div>
                                    <button class="add_to_cart_button" type="submit" >Ajouter au panier</button>
                                    <p>En stock : {{ produit.stock }} exemplaires </p>
                                </form>

                                <div class="product-inner-category">
                                    <p>Categorie: <a href="">{{ produit.categorie.libelle }}</a>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Avis</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Description du produit</h2>
                                            <p>{{ produit.description }}</p>
                                            <h2>Caractéristiques</h2>
                                            <p>
                                                <ins>Nom</ins>:  {{ produit.libelle }}<br>
                                                <ins>Prix</ins>: {{ produit.prix }}€<br>
                                                <ins>En stock</ins>: {{ produit.stock }} exemplaires<br>
                                                <ins>Taille</ins>: {{ produit.taille }}cm<br>
                                                <ins>Matériaux de la lame</ins>: {{ produit.materiau.libelle }}<br>
                                                <ins>Poids</ins>: {{ produit.poids }}g<br>
                                                <ins>Origine</ins>: {{ produit.origine.libelle }}
                                            </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Votre avis</h2>
                                            <div class="submit-review">
                                                <p><label for="name">Nom</label> <input name="name" type="text"></p>
                                                <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                <div class="rating-chooser">
                                                    <p>Votre note</p>
                                                    <div class="rating-wrap-post">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <p><label for="review">Commentaire</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                <p><input type="submit" value="Envoyer"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    {% endblock %}

                    {% block produitsEnRapport %}
                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Produits de la même catégorie</h2>
                        <div class="related-products-carousel">

                            {% for produit in listProduitSameCategorie %}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{{ asset('img/produits/' ~ produit.imagePath) }}" alt="" style="height: 160px">
                                    <div class="product-hover">
                                        <a href="{{ path('vms_cart_add', {'id': produit.id}) }}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Ajouter panier</a>
                                        <a href="{{ path('vms_vitrine_vue', {id: produit.id }) }}" class="view-details-link"><i class="fa fa-link"></i> Détails</a>
                                    </div>
                                </div>
                                <h2><a href="{{ path('vms_vitrine_vue', {id: produit.id }) }}">{{ produit.libelle }}</a></h2>
                                <div class="product-carousel-price">
                                    <ins>{{ produit.prix }}€</ins>
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                    {% endblock %}

                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}


