{% extends "VMSVitrineBundle::layout.html.twig" %}

{% block title %}
    Vitrine - {{ parent() }}
{% endblock %}

{% block vms_vitrinebody %}

    {% block bandeau %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Nos Produits</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">

            {% block recherche %}
                <div class="row">
                    <div class="col-lg-6">
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Rechercher...">
                            <span class="input-group-btn">
                                <button style="margin-bottom: 60px;" class="btn btn-default" type="button" href="{{ path('vms') }}">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            {% endblock %}

            {% block produits %}
            <div class="row">
                {% for produit in listProduits %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{ asset('img/produits/' ~ produit.getImagePath()) }}" alt="image_couteau" style="height: 120px;">
                        </div>
                        <h2><a href="{{ path('vms_vitrine_vue', {'id': produit.getId()}) }}">{{ produit.getLibelleProduit() }}</a></h2>
                        <div class="product-carousel-price">
                            <ins>{{ produit.getPrix() }}€</ins>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button addPanier" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{{ path('vms_cart_add', {'id': produit.getId()}) }}">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endblock %}

            {% block pagination %}
            <div class="row">
                <div class="navigation text-center">
                    {{ knp_pagination_render(listProduits) }}
                </div>
            </div>
            {% endblock %}

        </div>
    </div>
{% endblock %}