{% extends "VMSVitrineBundle::layout.html.twig" %}

{% block title %}
    Vitrine - {{ parent() }}
{% endblock %}

{% block vms_vitrinebody %}

    {% block bandeau %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Nos Produits</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


        <div class="container">
            {% block recherche %}
                <div class="row" style="margin-bottom: 30px;margin-top: 20px;">
                    <div class="col-lg-6">
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-6">
                        <div class="input-group">

                            <form method="get" action="{{ path('vms_vitrine_search') }}" class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" name="text" class="form-control" placeholder="Rechercher...">
                                </div>
                                <button type="submit" class="btn btn-default">Go!</button>
                            </form>

                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            {% endblock %}

            {% block produits %}
            <div class="row">
                {% for produit in listProduits %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{ asset('img/produits/' ~ produit.getImagePath()) }}" alt="image_couteau" style="height: 120px;">
                        </div>
                        <h2><a href="{{ path('vms_vitrine_vue', {'id': produit.getId()}) }}">{{ produit.getLibelleProduit() }}</a></h2>
                        <div class="product-carousel-price">
                            <ins>{{ produit.getPrix() }}€</ins>
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button addPanier" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{{ path('vms_cart_add', {'id': produit.getId()}) }}">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endblock %}

            {% block pagination %}
            <div class="row">
                <div class="navigation text-center">
                    {{ knp_pagination_render(listProduits) }}
                </div>
            </div>
            {% endblock %}

        </div>

{% endblock %}