{% extends "VMSVitrineBundle::layout.html.twig" %}

{% block title %}
    Vitrine - {{ parent() }}
{% endblock %}

{% block vms_vitrinebody %}

    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Nos Produits</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">

                {% for produit in listProduits %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{ asset('img/produits/' ~ produit.getImagePath()) }}" alt="image_couteau" style="height: 160px;">
                        </div>
                        <h2><a href="{{ path('vms_vitrine_vue', {'id': produit.getId()}) }}">{{ produit.getLibelleProduit() }}</a></h2>
                        <div class="product-carousel-price">
                            {{ produit.getPrix() }}.00€
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button addPanier" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
    </div>
    </div>
{% endblock %}