{% trans_default_domain 'FOSUserBundle' %}

<div class="row" style="margin-top: 20px;margin-bottom: 20px;">
    <div class="col-md-6 col-md-offset-3">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {#{{ form_widget(form) }}#}

        <label for="password">Mot de passe actuel</label>
        {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'id': 'password', 'required': 'required'}})}}

        <label for="passnew">Nouveau mot de passe</label>
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'id': 'passnew', 'required': 'required'}})}}

        <label for="passnew1">Répetez le nouveu mot de passe</label>
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'id': 'passnew1', 'required': 'required'}})}}

        <div style="margin-top:15px;">
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>